livekit-agents
livekit-plugins-google
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-sarvam
python-dotenv
moss
qdrant-client
sentence-transformers
pydantic
aiohttp
sarvamai
sqlalchemy[asyncio]
asyncpg
alembic
fastapi
pyjwt
cryptography
uvicorn
